name: Build

on:
  push:
    branches: ["master"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  BINARY_NAME: ore

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - id: version
        run: echo version="$(cargo metadata --no-deps --quiet --color never | jq -r '.packages[].version')-$(git describe --always --dirty=_modified)" >> "$GITHUB_OUTPUT"

  build-ubuntu:
    name: Build Ubuntu
    needs: version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust
        run: rustup target add x86_64-unknown-linux-gnu
        
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y openssl pkg-config libssl-dev

      - name: Configure cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: release-${{ runner.os }}-cargo-x86_64-unknown-linux-gnu-${{ hashFiles('**/Cargo.lock') }}
          
      - name: Build
        run: cargo build --release --target x86_64-unknown-linux-gnu
        
      - name: Strip binary
        run: strip target/x86_64-unknown-linux-gnu/release/${{ env.BINARY_NAME }}
        
      - name: Package
        run: |
          rm -rf target/dist
          mkdir -p target/dist
          cp target/x86_64-unknown-linux-gnu/release/${{ env.BINARY_NAME }} target/dist/${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-x86_64-unknown-linux-gnu
          
      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-x86_64-unknown-linux-gnu
          path: target/dist/*

  build-macos-x86_64:
    name: Build macOS (x86_64)
    needs: version
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install openssl pkg-config

      - name: Setup Rust
        run: rustup target add x86_64-apple-darwin
        
      - name: Configure cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: release-${{ runner.os }}-cargo-x86_64-apple-darwin-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --release --target x86_64-apple-darwin

      - name: Strip binary
        run: strip target/x86_64-apple-darwin/release/${{ env.BINARY_NAME }}

      - name: Package
        run: |
          rm -rf target/dist
          mkdir -p target/dist
          cp target/x86_64-apple-darwin/release/${{ env.BINARY_NAME }} target/dist/${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-x86_64-apple-darwin

      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-x86_64-apple-darwin
          path: target/dist/*

  build-macos-aarch64:
    name: Build macOS (aarch64)
    needs: version
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install openssl pkg-config

      - name: Setup Rust
        run: rustup target add aarch64-apple-darwin
        
      - name: Configure cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: release-${{ runner.os }}-cargo-aarch64-apple-darwin-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --release --target aarch64-apple-darwin

      - name: Strip binary
        run: strip target/aarch64-apple-darwin/release/${{ env.BINARY_NAME }}

      - name: Package
        run: |
          rm -rf target/dist
          mkdir -p target/dist
          cp target/aarch64-apple-darwin/release/${{ env.BINARY_NAME }} target/dist/${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-aarch64-apple-darwin

      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-aarch64-apple-darwin
          path: target/dist/*

  build-windows-gnu:
    name: Build Windows (GNU)
    needs: version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust
        run: rustup target add x86_64-pc-windows-gnu

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y mingw-w64

      - name: Configure cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: release-${{ runner.os }}-cargo-x86_64-pc-windows-gnu-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --release --target x86_64-pc-windows-gnu

      - name: Package
        run: |
          rm -rf target/dist
          mkdir -p target/dist
          cp target/x86_64-pc-windows-gnu/release/${{ env.BINARY_NAME }}.exe target/dist/${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-x86_64-pc-windows-gnu.exe

      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-x86_64-pc-windows-gnu
          path: target/dist/*

  build-windows-msvc:
    name: Build Windows (MSVC)
    needs: version
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust
        run: rustup target add x86_64-pc-windows-msvc

      - name: Configure cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: release-${{ runner.os }}-cargo-x86_64-pc-windows-msvc-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --release --target x86_64-pc-windows-msvc

      - name: Package
        run: |
          if (Test-Path target/dist) { Remove-Item -Recurse -Force target/dist }
          New-Item -ItemType Directory -Force -Path target/dist
          Copy-Item target/x86_64-pc-windows-msvc/release/${{ env.BINARY_NAME }}.exe target/dist/${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-x86_64-pc-windows-msvc.exe

      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-x86_64-pc-windows-msvc
          path: target/dist/*

  build-aarch64-ubuntu:
   name: Build Ubuntu (aarch64)
   needs: version
   runs-on: ubuntu-latest
   steps:
     - name: Checkout repository
       uses: actions/checkout@v4

     - name: Install dependencies
       run: |
         sudo apt-get update
         sudo apt-get install -y build-essential gcc-aarch64-linux-gnu openssl pkg-config libssl-dev

     - name: Setup Rust
       run: rustup target add aarch64-unknown-linux-gnu
       
     - name: Configure cache
       uses: actions/cache@v4
       with:
         path: |
           ~/.cargo/bin/
           ~/.cargo/registry/index/
           ~/.cargo/registry/cache/
           ~/.cargo/git/db/
           target/
         key: release-${{ runner.os }}-cargo-aarch64-unknown-linux-gnu-${{ hashFiles('**/Cargo.lock') }}

     - name: Build
       env:
         CC: aarch64-linux-gnu-gcc
         CXX: aarch64-linux-gnu-g++
         RUSTFLAGS: "-C linker=aarch64-linux-gnu-gcc"
         OPENSSL_DIR: "/usr/aarch64-linux-gnu"
         OPENSSL_INCLUDE_DIR: "/usr/aarch64-linux-gnu/include"
         OPENSSL_LIB_DIR: "/usr/aarch64-linux-gnu/lib"
       run: cargo build --release --target aarch64-unknown-linux-gnu

     - name: Strip binary
       run: aarch64-linux-gnu-strip target/aarch64-unknown-linux-gnu/release/${{ env.BINARY_NAME }}

     - name: Package
       run: |
         rm -rf target/dist
         mkdir -p target/dist
         cp target/aarch64-unknown-linux-gnu/release/${{ env.BINARY_NAME }} target/dist/${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-aarch64-unknown-linux-gnu

     - name: Upload archive
       uses: actions/upload-artifact@v4
       with:
         name: ${{ env.BINARY_NAME }}-${{ needs.version.outputs.version }}-aarch64-unknown-linux-gnu
         path: target/dist/*
 path: target/dist/*